@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: 'Lato', sans-serif;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
}

details summary::-webkit-details-marker {
  display: none;
}

div,
main {
  display: flex;
  flex-direction: column;
  /* min-height: min-content; */
  min-height: auto;
}

.font-subheader {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
}

.font-subheader-light {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
}
