@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: 'Lato', sans-serif;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
}

details summary::-webkit-details-marker {
  display: none;
}

* {
  font-family: inherit;
  font-weight: inherit;
}

div,
section,
aside,
main {
  display: flex;
  flex-direction: column;
}

.font-subheader {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.font-subheader-light {
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
}
