@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: 'Lato', sans-serif;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
}

div,
main {
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */

  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
}

.font-subheader {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
}

.font-subheader-light {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
}
